.root {
  display: flex;
  height: 100%;
  max-height: 100%;
  width: 100%;
  flex-flow: column;
}

.panesContainer {
  display: flex;
  flex: 1 1 auto;
}

.topNav {
  flex: 0 0 auto;
  background-color: #FFF;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 40;
}

.topNavTitle {
  flex: 0 0 auto;
  padding: 0;
  margin: auto;
  align-self: center;
}

.topNavLink {
  flex: 0 0 auto;
  padding: 0;
  margin-left: 10;
  margin-right: 5;
  font-size: 1.5em;
  color: #0066ff;
  text-decoration: none;
}

.topNavSearch {
  background: url('./search_icon.svg');
  background-repeat: no-repeat;
  flex: 0 1 auto;
  width: 30;
}

.githubIcon {
  width: 30;
}

.leftPane {
  display: flex;
  flex-flow: column;
  flex: 0 0 auto;
  overflow-y: scroll;
  min-width: 265;
}

.leftPaneCollapsed {
  display: none;
}

.rightPane {
  flex: 1 1 100%;
  flex-flow: column;
  display: flex;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
  overflow-y: auto;
}

.infoPanel {
  flex: 0 0 auto;
}

.renderImage {
  flex: 0 1 0;
  min-width: 100;
}

.renderDiv {
  flex: 1 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 250;
  min-height: 250;
  max-width: 1000;
}

.searchBar {
  flex: 0 1 auto;
  font-size: 2em;
  padding: 0;
  margin-right: 5;
}

.indexItemsContainer {
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  padding-top: 5;
  padding-bottom: 5;
}

.indexItem {
  display: flex;
  flex-flow: column;
  padding-top: 5;
  padding-bottom: 5;
  margin-right: 5;
}
.indexItem:hover {
  background-color: #f1f1f1;
}
.indexItemActive {
  background-color: #0066ff;
  color: white;
}
.indexItemActive:hover {
  background-color: #0066ff;
}

.indexItemTitle {
  padding: 0;
  margin: 0;
  margin-left: 8;
  margin-right: 8;
}

.indexItemLocation {
  padding: 0;
  margin: 0;
  margin-left: 24;
  font-weight: normal;
}
